.header {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

  background-color: burlywood;
  background-image: url("../images/asfalt-light.png");
  height: 400px;
  width: 100%;
  margin-top: 120px;

}

.profile-pic img {
  width: 8em;
}

.profile-name {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.profile-name p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .header {
    width: 30%;
    height: 400px;
    margin-top: 140px;
    margin-left: 40px;
  }
}