header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: burlywood;
  background-image: url("../images/asfalt-light.png");
  height: 520px;
  width: 100%;
  margin-top: 120px;
}

.profile-pic {
  max-width: 200px;
}

.profile-pic img {
  width: 100%;
}

.profile-name {
  font-size: 1.2em;
}

