form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tweet-text:focus {
  outline:none;
}

#tweet-submit {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-family:'Bungee', sans-serif ;

}

#tweet-submit button {
  color:#FFFFFF;
  background-color:#4056A1 ;
}

#tweet-text:focus-visible {
  border-width:0 0 4px 0;
  outline: 0;
}

.counter-negative {
  color: red;
}

#tweet-text {
  width: 99%;
  border-width: 0px 0px 3px 0px;
  border-color: #545149;
  background-color: #f4f1ec;
  resize: none;
  font-weight: bold;
  color: #545149;
  }
